<div style="margin: 100px 20px 0">
  <p>Congrats <%= current_user.email %>, you'll get drunk with the <%= @cocktail.name %> on <%= @booking.date %></p>
  <p><%= link_to "Cancel this order", booking_path(@booking), class: "btn btn-dark", data: { turbo_method: :delete, turbo_confirm: "Are you sure you don't want to get drunk?" } %></p>
</div>
