<%= require 'simple-form-datepicker' %>
<div class="container m-3">
  <%= simple_form_for [@cocktail, @booking] do |f| %>
    <%= f.input :date, as: :date %>
    <%= f.button :submit, class:"btn btn-primary" %>
  <% end %>
</div>
